/* EVENTOS */
.events {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 4rem;
}

.event-title {
    color: #f1f1f1;
    font-size: 3.5rem;
    font-family: "Orbitron", sans-serif;
    padding: 2rem 0rem;
}

.events-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    padding: 2.5rem;
    min-height: 500px;
    border-radius: 20px;
    background-color: #5e2c18e3;
}

.card p {
    max-width: 500px;
    color: #f1f1f1;
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
}
/* EVENTOS */
