/* HEADER */
header {
    width: 100%;
    padding: 28px 3%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

header a {
    color: #f1f1f1;
}

.logo {
    width: 100%;
    max-width: 180px;
    font-family: "Orbitron", sans-serif;
}

.menu-list {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.pc-nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.pc-nav-menu a {
    color: #f1f1f1;
    font-size: 1.3rem;
    font-family: "Poppins", sans-serif;
    transition: .3s ease;
}

.pc-nav-menu a:hover {
    color: #411e10;
}

.donation {
    border: none;
    padding: 1rem 1rem;
    color: #f1f1f1;
    background-color: #5e2c18e3;
    font-size: 1.2rem;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    transition: background-color .3s ease;
}

.donation:hover {
    background-color: #7e3b21e3;
}

.donation:active {
    opacity: 0.7;
}

.mobile-btn {
    display: none;
}


.mobile-nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.mobile-nav-menu a {
    color: #f1f1f1;
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    transition: color .3s ease;
    padding: 0.5rem 0;
}

.mobile-nav-menu a:hover {
    color: #5e2c18e3;
}
/* HEADER */
