@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background: linear-gradient(rgb(255, 166, 0), rgb(255, 94, 0));
}

body::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

/* HEADER */
header {
    width: 100%;
    padding: 28px 3%;
}

.nav-container {
    position: fixed;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container a {
    color: #f1f1f1;
}

.logo {
    color: #f1f1f1;
    font-size: 2rem;
    font-family: "Orbitron", sans-serif;
}

.pc-nav-menu {
    display: flex;
    gap: 2rem;
}

.pc-nav-menu a {
    color: #f1f1f1;
    font-size: 1.3rem;
    font-family: "Poppins", sans-serif;
}

.pc-nav-menu.active a {
    border-bottom: 3px solid #411e10;
}

.donation {
    border: none;
    padding: 1rem 1rem;
    color: #f1f1f1;
    background-color: #5e2c18e3;
    font-size: 1.2rem;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    transition: background-color .3s ease;
}

.donation:hover {
    background-color: #7e3b21e3;
}

.mobile-btn {
    display: none;
}

.mobile-menu {
    display: none;
}
/* HEADER */

/* HERO */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    background: linear-gradient(rgb(255, 166, 0), rgb(255, 94, 0));
    padding: 5.5rem;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    gap: 2rem;
}

.right-side img {
    border-radius: 20px;
    width: 100%;
    max-width: 650px;
}

.welcome-title {
    color: #f1f1f1;
    font-size: clamp(2rem, 5vw, 4rem);
    max-width: 400px;
    font-weight: 400;
    font-family: "Orbitron", sans-serif;
}

.welcome-description {
    color: #f1f1f1;
    font-size: 1.5rem;
    max-width: 700px;
    line-height: 40px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}
/* HERO */

/* EVENTOS */
.events {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 4rem;
}

.event-title {
    color: #f1f1f1;
    font-size: 3.5rem;
    font-family: "Orbitron", sans-serif;
    padding: 2rem 0rem;
}

.events-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    padding: 2.5rem;
    min-height: 500px;
    border-radius: 20px;
    background-color: #5e2c18e3;
}

.card p {
    max-width: 500px;
    color: #f1f1f1;
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
}
/* EVENTOS */

/* PROJETOS */
.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.project-title {
    color: #f1f1f1;
    font-size: 3.5rem;
    font-family: "Orbitron", sans-serif;
    padding: 2rem 0rem;
}

.projects-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    min-height: 500px;
    background-color: #5e2c18e3;
    border-radius: 20px;
    gap: 4rem;
}

.project-card {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    font-family: "Poppins", sans-serif;
    padding: 7rem 2rem;
}

.project-info {
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.project-card p {
    font-size: 1.5rem;
    color: #f1f1f1;
}

.project-img {
    position: relative;
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-middle {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
    gap: 2.5rem;
}

.btn-donate {
    border: none;
    color: #f1f1f1;
    padding: 1rem 1.5rem;
    background-color: orange;
    border-radius: 50px;
    font-size: 2.5rem;
    font-family: "Poppins", sans-serif;
    transition: 0.5s ease;
}

.btn-donate:hover {
    color: #411e10;
}

.project-img img {
    width: 100%;
    max-width: 650px;
    position: absolute;
    border-radius: 20px;
    transition: 0.5s;
    opacity: 0;
}

.project-img img.active {
    opacity: 1;
}

.project-description {
    width: 30%;
}

.project-description p {
    font-size: 1.5rem;
    color: #f1f1f1;
    font-family: "Poppins", sans-serif;
    max-width: 400px;
    line-height: 40px;
}
/* PROJETOS */

/* CONTATOS */
.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgb(255, 166, 0), rgb(255, 94, 0));
}

.contacts-title {
    font-size: clamp(2rem, 5vw, 4rem);
    color: #411e10;
    text-align: center;
    padding: 2rem 0rem;
    font-family: "Orbitron", sans-serif;
}

.contacts span {
    color: #f1f1f1;
}

.contacts-description {
    font-size: 1rem;
}

.contact-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #5e2c18e3;
    border-radius: 50px;
    width: 100%;
    min-height: 400px;
    gap: 20px;
    gap: 1rem;
    border: #f1f1f1 2px solid;
}

.contact-links p {
    color: #f1f1f1;
    font-size: 2rem;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

.contact-links a {
    color: #f1f1f1;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
}

.contact-links a,
.contact-links p {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0.80rem 1rem;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.contact-links i {
    background-color: #f1f1f1;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    min-width: 48px;
    color: #411e10;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.contact-links a:hover {
    background: rgba(255, 255, 255, 0.15);
    transform: translateX(5px);
}
/* CONTATOS */

/* DOAÇÕES */
.donates {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgb(255, 166, 0), rgb(255, 94, 0));
    padding: 5rem;
}

.donate-left-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.donate-right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}


.donate-middle-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.donate-title {
    color: #f1f1f1;
    font-size: clamp(2rem, 5vw, 4rem);
    max-width: 500px;
    font-weight: 400;
    font-family: "Orbitron", sans-serif;
}


.donate-description {
    color: #f1f1f1;
    font-size: 1.5rem;
    max-width: 700px;
    line-height: 40px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

.pix-key {
    font-size: 2rem;
    color: #f1f1f1;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.img-logo {
    border-radius: 20px;
    width: 100%;
    max-width: 650px;

}

.qr-code {
    border-radius: 20px;
    width: 100%;
    max-width: 200px;
}
/* DOAÇÕES */

/* RESPONSIVIDADE */
@media screen and (max-width: 1170px) {

    /* HEADER */
    .pc-nav-menu {
        display: none;
    }

    .nav-container .donation {
        display: none;
    }

    .logo {
        font-size: 1rem;
        max-width: 200px;
    }

    .mobile-btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .mobile-menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5rem 0rem;
        
    }

    .mobile-nav-menu,
    a {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        color: #f1f1f1;
        text-align: center;
    }

    /* HEADER */

    /* HERO */
    .hero {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        gap: 2rem;
        padding: 4rem 1.5rem;
    }

    .welcome-title {
        text-align: center;
        font-size: 2rem;
    }

    .welcome-description {
        text-align: center;
        font-size: 1rem;
        max-width: 400px;
    }

    .right-side {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .community-img {
        width: 100%;
        max-width: 300px;
    }

    /* HERO */

    /* EVENTOS */
    .events {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }

    .event-title {
        text-align: center;
        font-size: 2rem;
    }

    .events-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .card {
        text-align: center;
    }

    /* EVENTOS */

    /* PROJETOS */
    .projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .project-title {
        text-align: center;
        font-size: 2rem;
    }

    .projects-container {
        display: flex;
        align-items: center;
        flex-direction: column;

    }

    .project-card {
        width: 100%;
        padding: 1.5rem 1rem;
        gap: 2rem;
    }

    .project-card p {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 1rem;
        text-align: center;

    }

    .project-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
        text-align: center;
        gap: 1.5rem;
        color: #f1f1f1;
    }

    .project-middle {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project-img img {
        width: 100%;
        max-width: 300px;
    }

    .btn-donate {
        font-size: 1rem;
    }

    .project-description {
        width: 100%;
        padding: 1rem;
    }

    .project-description p {
        font-size: 1rem;
        max-width: 100%;
        line-height: 1.6;
        text-align: center;
    }
    /* PROJETOS */

    /* NOSSOS CONTATOS */
    .contacts {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .contacts-title {
        text-align: center;
        font-size: 2rem;
    }

    .contacts-container {
        display: flex;
        align-items: center;
    }

    .contact-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-links p {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1rem;
    }

    .contact-links a {
        font-size: 1rem;
        display: flex;
    }
    /* NOSSOS CONTATOS */

    /* DOAÇÕES */
    .donates {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .donate-left-side {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .donate-title {
        font-size: 2rem;
        text-align: center;
    }

    .donate-description {
        font-size: 1rem;
        text-align: center;
    }

    .donate-right-side {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .donate-middle-side {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* DOAÇÕES */
}
/* RESPONSIVIDADE */
